<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chefs Grouped by Category</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Chefs Grouped by Category</h1>
<div th:each="entry : ${groupedChefs}">
    <h2 th:text="${entry.key}">Category</h2>
    <ul>
        <li th:each="chef : ${entry.value}">
            <p th:text="${chef.chefName}">Chef Name</p>
            <p th:text="${chef.chefCategory}">Chef Category</p>
            <img th:src="@{${chef.chefImage}}" alt="Chef Image"/>
        </li>
    </ul>
</div>
</body>
</html>
